.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color:#fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;  
margin-top: 0px;
   
  }
  
  .modalContainer {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    overflow: hidden;
   
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background: linear-gradient(to bottom, #660033 0%, #660033 100%);
    border: none;
    font-size: 25px;
    cursor: pointer;
    border-radius: 6px;
  }
  input{
    border-radius: 10px;
    padding:10px;
    margin:5px
  }