.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100%;
}
.form_container{
    display: flex;
    margin: auto !important;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 30px gray;
    border-radius: 10px;
    width: 40%;
    height: 50%;
    background-color: aquamarine;
}
.form_input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-radius: 5px;
    margin: 15px;
    height: 25px;
    overflow: hidden;
  

}
.btn{
    border-radius: 5px;
    background-color: rgb(64, 129, 129);
    border-style: none;
    width: 70px;
    height: 30px;
}